
<br>
<div id="container">
    <h1 class="title">Our Approach</h1>
    <p color="primary">
        Critical Friends LLC is a consulting and coaching firm supporting leaders to execute strategies that
    improve diversity, equity, and inclusion within their organizations. Our team guides organizations
    how to implement practices that improve decision making through the lens of equity. Our unique
    perspectives and objective critiquing results in partnerships that produce sustainable, measurable
    growth and outcomes.
    </p>
    <br>
    <div>
        <h1 class="title">Who Could Benefit from Critical Friends' Services?</h1>
        <div class="txt larger">
            <ul>
                <li>Organizations and leaders who recognize the advantage of fostering an inclusive
                    environment.</li>
                <li>Organizations and leaders that have begun the journey to make themselves more inclusive
                    and equitable.</li>
                <li>Organizations and leaders that have a desire to continue to challenge themselves and make
                    DEI a core institutional value.</li>
                <li>Organizations and leaders that desire to be diverse in all three areas: Color, Culture and
                    Consciousness.</li>
            </ul>
            As your critical friend we are here to support, while offering honest and candid feedback that will
            yield results. Please contact Tenisha Tate-Austin at <a href="mailto:ttate@criticalfriends.org">ttate@criticalfriends.org</a> for packages and pricing.
        </div>
    </div>
</div>
