@import "../home/home.component.css";


.txt {
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 1rem;
    line-height: 1.4rem;
    font-weight: 300;
    margin: 0;
}

.larger {
    font-size: 1.3rem;
    line-height: 1.9rem;
    padding-left: 2rem;
}


p {
    padding-bottom: 1.5rem;
}



li {
    padding: 0;
}


#container {
    max-width: 1000px;
    margin: auto;
}