
<br>
<div id="container">
    <h1 class="smaller">Critical Friends is here to help leaders keep DEI at the forefront of the work</h1>
    <div id="myFlex">
        <div class="card">
            <h1 class="title">Need</h1>
            <p class="txt">
                Competing interests deter leaders from focusing on 
                diversity, equity and Inclusion.
            </p>
        </div>
        <div class="card">
            <h1 class="title">Services</h1>
            <div class="txt">
                Monthly or biweekly support of leaders in enacting
                strategies/actions that lead to
                positive outcomes for all
                students. Services are tailored
                to client’s need and may
                include support with:
                <ul>
                    <li>SPSA</li>
                    <li>School Site Council</li>
                    <li>Site Leadership Team</li>
                    <li>DEI Committee</li>
                    <li>Staff Professional Development Planning</li>
                    <li>Student Focus Groups and Leadership</li>
                    <li>Student Presentations</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <h1 class="title">Intended Outcome</h1>
            <p class="txt">
                Improved academic performance and student
                connectedness for historically
                underserved students. Raising
                the racial consciousness of all
                students.
            </p>
        </div>
    </div>
</div>
