.spacer {
    width: 100%;
    height: calc(100vw * 0.46);
}

#ico {
    transform: translate(0, 3px);
}

img {
    width: 30%;
    padding: 0.4rem 0 0rem;
}

span {
    font-size: 17pt;
}

.mat-toolbar {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    z-index: 10;
    height: auto;
}

.link {
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 12pt;
    font-weight: 500;
    text-decoration: none;
    color:white;
    margin: 0 1rem;
    min-width: 0;
    position: relative;
}


.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255);

    transform-origin: right;
    transform: scaleX(0) translate(0, 0.3rem);
    transition: transform 250ms ease-in;
}


.link:hover::after {
    transform: scaleX(1) translate(0, 0.3rem);
    transform-origin: left;
}


.link:focus::after {
    transform: scaleX(1) translate(0, 0.3rem);
    transform-origin: left;
}

.mat-raised-button {
    margin: 0 1rem;
    color: white;
}


#content {
    max-width: 1000px;
    margin: auto;
}

#routes {
   float: right;
   padding: 2rem 0 0;
}