<mat-toolbar color="primary" class="mat-elevation-z10">
    <div id="content">
        <a routerLink=""><img src="assets/cf-banner.png"></a>
        <!-- <span> <img src="assets/cf-white.png"> Critical Friends</span> -->

        <!-- <div class="spacer"></div> -->

        <div *ngIf="screenWidth > 840" id="routes">
            <a class="link" routerLink="/about">About</a>
            <a class="link" routerLink="/services">Services</a>
            <a class="link" routerLink="/testimonials">Testimonials</a>
            <a class="link" routerLink="/bio">Bio</a>
            <a mat-raised-button color="accent">Contact</a>
        </div>
    </div>  
</mat-toolbar>

<!-- <div class="spacer"></div> -->