<mat-toolbar color="primary" class="mat-elevation-z10">
    <div id="content">
        <span> <mat-icon id="ico">support_agent</mat-icon> Critical Friends</span>

        <!-- <div class="spacer"></div> -->

        <div id="routes">
            <a class="link" href="#">Home</a>
            <a class="link" href="#">About</a>
            <a class="link" href="#">Programs</a>
            <a class="link" href="#">Testimonials</a>
            <a class="link" href="#">Bio</a>
            <a mat-raised-button color="accent">Contact</a>
        </div>
    </div>  
</mat-toolbar>