img {
    width: 10rem;
}

h1 {
    color: #0096a7;
    padding: 2.2rem 0 0.8rem;
}

#banner {
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 0.6fr 1.4fr;
}

@media (max-width: 1000px) {
    #container {
        display: none;
    }
}