<div id="container">
    <h1 class="title">Tenisha Tate-Austin, Principal Consultant</h1>
    <div class="p-with-img">    
        <p style="float: left">
            Tenisha is originally from Southern California, where she graduated from the University
            of Southern California with a Bachelor of Arts Degree in Sociology. She has also obtained
            a Master of Social Welfare Degree from the University of California at Los Angeles and a
            Master of Education Administration degree from Cal State Dominguez Hills. Tenisha has over
            17 years working in school systems across the state and ten plus years in school leadership.
            Her professional experience includes serving as a middle school teacher, a psychiatric
            social worker, Assistant Principal and a Principal throughout the K-12 continuum.
        </p>
        <img src="assets/tenisha.jpg" width="200" id="headshot">
    </div>
    <p style="text-align: justify">
        While serving as Assistant Principal at Bayside/Martin Luther King Jr. Academy in Marin City, 
        CA, Tenisha’s tenure marked a positive shift in school culture and academic performance. 
        Specifically, teachers reported higher morale on the staff survey and students experienced a 
        75% reduction in discipline referrals to the office. At Hall Middle School, located in Larkspur 
        CA, when Tenisha was hired to serve as Assistant Principal, she created an Equity working group 
        and worked with her team to counter the negative school culture. Hall later earned the 
        distinction of “California School to Watch”. She most recently served as Principal of Miller 
        Creek Middle School in San Rafael, CA where she led her staff in creating a Diversity, Equity 
        and Leadership Elective Course and restructured the 6th Grade Exploratory Wheel to focus on 
        identity, diversity, social justice and action. 
    </p>
    <p>
        In addition to the seventeen years spent in the formal education system, Tenisha also spent two
        years in supporting equitable educational outcomes when she created, founded and launched a
        non-profit organization, 2 Gen Equity. 2 Gen Equity was designed to be a two generation
        program that simultaneously focused on the educational attainment of transitional aged mothers
        and their young children.
    </p>
    <p>
        Tenisha spoke at the White House as an advocate for housing equity. She was invited to introduce
        Vice President Harris, who shared the PAVE (Property Appraisal and Valuation Equity) Action Plan.
        Tenisha has always remained committed to diversity, equity and inclusion. As an educator, she has a
        proven record of improving school cultures as well as the teaching and learning process.
        Considering her professional and personal experiences, Tenisha is uniquely suited to help support 
        leaders in the application of diversity, equity, and inclusion strategies.
    </p>
</div>
