@import "../about/about.component.css";


.title {
    font-size: 1.5rem;
    margin: 1.2rem 0;
}

.title::after {
    transform: scaleX(0.4) translate(0, 0.6rem);
    height: 2px;
}



.card {
    padding: 0.6rem 1.5rem;
    width: 33%;
    margin: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}


.outcomes > ul {
    padding-top: 0;
    padding-left: 1rem;
    transform: translate(0, -1rem);
}




#myFlex {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    margin: auto;
}

@media (max-width: 900px) {
    #myFlex {
        flex-direction: column;
        max-width: 32rem;
    }
    .card {
        width: 28rem;
    }
}



.smaller {
    color: #0096a7;
    font-family: Roboto, Helvetica Neue, sans-serif;
    font-size: 22pt;
    font-weight: 500;
    text-decoration: none;
    margin: 2rem 0rem 3rem 0rem;
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
}

@media (max-width: 1000px) {
    .smaller {
        font-size: 2.9vw;
    }    
}


@media (max-width: 600px) {
    .smaller {
        font-size: 5.3vw;
        line-height: 7vw;
    }    
}