#logo {
    width: 14rem;
    position: absolute;
    top: 64px;
}

/* .socials {
    width: 3rem;
    margin: 0 10px;
}

#socials-container {
    padding: 1rem 0;
    
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    max-width: 1000px;
    column-gap: 3rem;
    margin:auto;
}

p {
    width: 100%;
    padding: 1rem 0;
    text-align: left;
    font-family: Roboto,Helvetica Neue,sans-serif;
    font-size: 16pt;
    font-weight: 400;
    color: teal;
    line-height: 1.5rem;
} */