<br>

<div id="container">
    <div class="test">
        <div class="quote">&#8220;</div>
        <p>
            Critical Friends LLC is a consulting and coaching firm supporting leaders to execute strategies that
            improve diversity, equity, and inclusion within their organizations. Our team guides organizations
            how to implement practices that improve decision making through the lens of equity. Our unique
            perspectives and objective critiquing results in partnerships that produce sustainable, measurable
            growth and outcomes.
        </p>
        <p class="author">Kelly Glossip, Curriculum Coach</p>
    </div>
    <div class="test">
        <div class="quote">&#8220;</div>
        <p>
            After spending several weeks researching options for pursuing a path towards becoming a more equitable, 
            diverse and inclusive company, It has been a gift to find Critical Friends LLC and Tenisha. Tenisha is a 
            phenomenal resource and is giving us the support and guidance we need to not only create goals that are 
            aligned with our DEI path, but supporting us in creating an action plan to work towards those goals. She 
            is giving us the framework for how to go about this process and making it fun and meaningful along the way. 
            I highly recommend Tenisha and Critical Friends LLC  for any and all organizations and companies who are 
            interested in pursuing a path of increasing their diversity, equity and inclusion in all aspects of their 
            businesses and organizations.  
        </p>
        <p class="author">Nicki Clark, Marin Outdoor Adventures Founder and Ceo </p>
    </div>
</div>