<div id="container">
    <h1 class="title">Our Approach</h1>
    <p color="primary">
        Critical Friends LLC is a consulting and coaching firm supporting leaders to execute strategies that
    improve diversity, equity, and inclusion within their organizations. Our team guides organizations
    how to implement practices that improve decision making through the lens of equity. Our unique
    perspectives and objective critiquing results in partnerships that produce sustainable, measurable
    growth and outcomes.
    </p>
</div>