<br>
<br>

<div id="container">
    <div class="test">
        <div class="quote">&#8220;</div>
        <p>
            I cannot say enough about Tenisha Tate-Austin and her capacity as an instructional leader. Tenisha
            demonstrates her leadership through an equity lens, modeling ways in which equity and inclusion
            can be integrated into everything that a leader does. Her capacity shows others how a leader
            prioritizes this work while consistently challenging and inspiring others to take the journey with her.
            She is dedicated and committed to the work of helping other leaders grow to their fullest potential.
        </p>
        <p class="author">Kelly Glossip, Curriculum Coach</p>
    </div>
    <div class="test">
        <div class="quote">&#8220;</div>
        <p>
            After spending several weeks researching options for pursuing a path towards becoming a more equitable, 
            diverse and inclusive company, It has been a gift to find Critical Friends LLC and Tenisha. Tenisha is a 
            phenomenal resource and is giving us the support and guidance we need to not only create goals that are 
            aligned with our DEI path, but supporting us in creating an action plan to work towards those goals. She 
            is giving us the framework for how to go about this process and making it fun and meaningful along the way. 
            I highly recommend Tenisha and Critical Friends LLC  for any and all organizations and companies who are 
            interested in pursuing a path of increasing their diversity, equity and inclusion in all aspects of their 
            businesses and organizations.  
        </p>
        <p class="author">Nicki Clark, Marin Outdoor Adventures Founder and Ceo </p>
    </div>
</div>