<div id="cover">
    <a class="main-btn" href="#">
        Contact our Consultants
    </a>
</div>



<div id="container">
    <h1 class="title">Our Approach</h1>
    <p color="primary">
        Critical Friends LLC is a consulting and coaching firm supporting leaders to execute strategies that
    improve diversity, equity, and inclusion within their organizations. Our team guides organizations
    how to implement practices that improve decision making through the lens of equity. Our unique
    perspectives and objective critiquing results in partnerships that produce sustainable, measurable
    growth and outcomes.
    </p>
    <div *ngIf="screenWidth > 800" class="side-by-side">
        <div>
            <h1 class="title">Vision</h1>
            <p>
                We envision high functioning communities where systems and institutions are restructured,
        equitable and produce positive outcomes for all despite race, culture, gender or ethnicity
            </p>
        </div>
        <div>
            <h1 class="title">Mission Statement</h1>
            <p>
                As Critical Friends, we support leaders to develop and execute transformative strategies that create
        equity by recognizing and eliminating unconscious bias within their organizations.
            </p>
        </div>
    </div>
    <div *ngIf="screenWidth <= 800">
        <h1 class="title">Vision</h1>
        <p>
            We envision high functioning communities where systems and institutions are restructured,
    equitable and produce positive outcomes for all despite race, culture, gender or ethnicity
        </p>
        <h1 class="title">Mission Statement</h1>
        <p>
            As Critical Friends, we support leaders to develop and execute transformative strategies that create
    equity by recognizing and eliminating unconscious bias within their organizations.
        </p>

    </div>
    <h1 class="title">Rationale</h1>
    <p>
        Biases and inequitable practices are systemic challenges. We have years of experience in supporting
organizations with mitigating these issues. Eliminating biases and creating equity dramatically
expands students of color’s ability (students of color capacity - Not sure about the grammar here)to
grow personally, learn, build generational wealth and experience all the rights of our society.
    </p>
    <h1 class="title">The Why</h1>
    <p>
        Leaders are actively engaged in doing equity work, contracting with organizations such as Race
Works, Pacific Equity Group and Facing History Facing Ourselves. While this is critical work and needs
to continue, principals also need ongoing support moving from theory to action. After workshops,
principals are responsible for carrying the throughline with their staff. This requires thoughtful
planning, debriefing, assessing data and an accountability partner over time.
Principals/Leaders are faced with multiple competing priorities making their job nearly impossible.
The recent pandemic has further eaten away at administrator time for day to day responsibilities
and has exacerbated the inequitable outcomes between students groups.
    </p>
</div>
